
# Prisma supports the native connection string format for PostgreSQL, MySQL,
# SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the Prisma documentation for all the connection string
# options: https://pris.ly/d/connection-strings

# This DATABASE_URL string connects to a local MongoDB replica set.
# See README.md for instructions on running MongoDB locally in Docker.
DATABASE_URL="mongodb://localhost:27017/express-prisma-starter?replicaSet=rs0&readPreference=primary"
